.about {
    padding: 0 8rem;
    min-height: 80vh;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    animation: fadeIn 0.5s ease-out forwards; /* animación global en style.css */
}

.about > h3 {
    font-family: "Roboto Mono";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
    align-self: start;
}

.about > h3::before {
    content: "${";
}
  
.about > h3::after {
    content: "}";
}

.about > img {
    max-height: 300px;
    width: auto;
    border-radius: 50%;
    background-color:  var(--primary-dark);
    object-fit: cover;
    object-position: left;
}

body.light .about > img {
    background-color:  var(--primary-light);
}


@media (max-width: 770px) {
    .about {
        padding: 0 2rem;
        margin: 2rem 0;
    }
    .about > h3 {
        align-self: center;
    }
}