.project-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-card h3 {
    font-size: 1.5rem;
}
.project-card img {
    width: 100%;
    height: 250px;
    border-radius: 0.4rem;
    object-fit: cover;
}

.project-card > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.project-card > .header > div {
    display: flex;
    gap: 1rem;
}
  
.project-card > .header > div > a > img {
    width: 20px;
    height: 20px;
    filter: invert(90%);
    transition: all 0.3s ease-in-out;
}

body.light .project-card > .header > div > a > img {
    filter: none;
}
  
.project-card > .header > div > a > img:hover {
    transform: scale(1.1);
}
  
.project-card > .detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-card > .detail > p {
    text-align: start;
}

.project-card > .detail > .tech {
    color: var(--highlight);
}