nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    flex-wrap: wrap;
}

nav > h2 {
    font-family: "Roboto Mono";
    text-transform: uppercase;
    font-size: 1.3rem;
}

nav > h2::before {
    content: "<";
}
  
nav > h2::after {
    content: "/>";
}
  
nav > ul {
    display: flex;
    gap: 3rem;
}
  
nav button {
    background: none;
    border: none;
    color: inherit;
    transform: scale(1.5);
    cursor: pointer;
}
  
nav a {
    transition: all 0.3s ease-in-out;
}
  
nav a:hover, nav button:hover {
    color: var(--highlight);
}

@media (max-width: 770px) {
    nav {
        height: 20vh;
        padding: 2rem;
        flex-direction: column;
    }
}